
.about{
    width: 100%;
    min-height: 100vh;
}
.container-abt{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.container-itm{
    margin: auto;
    padding-top: 30%;

}
.content-section .social{
    margin-top: 10px;
    font-size: 20px;
}

/* resposive */
@media screen and (max-width: 768px){
    .container-abt{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
        font-size: 80%;
    } 
    
    
.graph {
    display: flex;
    justify-content: space-between;
}

.content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;

}
.image-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}  
}

.hearderset{
    box-sizing: border-box;
}
.hearderset h5{
    
    font-size: 40px;

}
.hearderset p{
    padding-bottom: 15%;
    font-size: 60px;
    font-weight: 600;
}
.hearderset button{
    box-sizing: border-box;
}
.video{
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15,23,43,0.1), rgba(15, 23, 43, .1)), url(../college/r4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


:root { 
    
}